body {
    background-image: url(../../../../img/pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 90%;
    margin: auto;
    background-color: var(--colorcuatro);
}
nav {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    align-items: center;
    
}
.logo-img {
    width: 30%;
}
.menu {
    width: 80%;
    margin: auto;
}
.link {
    margin: 0 2.5px;
    text-decoration: none;
    font-family: var(--fuenteuno);
    font-weight: bolder;
    color: black;
}
.link:hover {
    color: white;
    font-size: large;
    transition: 0.25s
}
section {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: space-evenly;
}
.cards {
    background-color: var(--clarocuatro);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    height: 80%;
}
.img-card {
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-updt {
    width: 70%;
    margin: auto;
}
.p-card {
    text-align: center;
    font-family: var(--fuentedos);
    font-weight: bolder;
}
.footer-card {
    width: 90%;
    margin: auto;
}
.txt-card {
    text-align: center;
    font-family: var(--fuentetres);
    font-size: small;
    font-weight: lighter;
}
.frm-tipo-edit {
    width: 70%;
    margin: auto;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
}
.cont-img {
    width: 90%;
    margin: auto;
    display: grid;
    justify-items: center;
}
.img-tipo-edit {
    width: 50%;
}
.p-edit {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: var(--fuentedos);
    font-size: larger;
}
.cont-inp-editype {
    width: 85%;
    margin: 0 auto 20px auto;
}
.inp-edit {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorcinco);
    padding: 5px 2px;
}
.inp-edit:focus {
    border: 1px solid var(--colorcinco);
    outline: none;
}
.cont-btns {
    display: grid;
    justify-items: center;
}
.btn-editype {
    background-color: var(--colortres);
    width: 30%;
    border: none;
    color: white;
    font-family: var(--fuenteuno);
    padding: 10px 0;
    margin-bottom: 20px;
}
.btn-editype:hover {
    background-color: var(--oscurotres);
    cursor: pointer;
}
footer {
    background-color: var(--coloruno);
    width: 90%;
    margin: auto;
}
.footer {
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    display: grid;
    justify-content:center;
}
.dev, .networks {
    /* background-color: beige; */
    margin: 15px;
    text-align: center;
}
.p-footer {
    font-family: var(--fuentetres);
    font-size: smaller;
}
.icon_link {
    color: white;
    font-size: x-large;
    margin: 0 5px;
}